body{
    background: rgb(255,0,241);
    background: linear-gradient(0deg, rgba(255,0,241,1) 0%, rgba(0,0,0,1) 69%);
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    /*width: 50px;*/
    height: 40px;
}

h4{
    font-size: 30px;
    height: 0px;
}

h5{
    font-size: 20px;
    height: 0px;
}

strong{
    font-size: 50px;
    text-align: center;
    height: 100px;
}

table{
    font-size: 200px;
    width: 200%;
    height: 700px;
}

img{
    width: 15%;
    text-align: center;
    border-radius: 100%;
}

main{
    border: 1 px solid black; /*se le agrega un borde de 1 pixel de color negro*/
    width: 730px; /* se le agrega un ancho de 730 pixeles*/
    margin: 100px auto 50px; /*Margen superior de 30px */
    display: flex; /*separa las secciones*/
    align-items: center; /*centra el cuadro de la sección 2*/

}

.seccion1{
    color: white;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.2); /*se le agrega color al fondo*/
    padding: 20px 60px 0px 50px; /*se le agrega un padding*/
    border-radius: 5%; /*contorno con bordos redondos con 8px*/
    width: 300px;
    height: 950px;
}

.seccion2{
    color: white;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.2); /*se le agrega color al fondo*/
    padding: 0 10px 10px 10px; /*se le agrega un padding*/
    border-radius: 5%; /*contorno con bordos redondos con 8px*/
    width: 1500px;
    height: 470px;
}

.reproduccion{
    display: flex;
    justify-content: center;
    align-items: center;
}



footer{
    text-align: center; /*se centran los tados del programador*/
    color: white;
    font-size: 50px;
    /*width: 50px;*/
    height: 150px;
}

td{
    height: 0px;
    width: 0px;
    padding: 20px;
    justify-content: center;
}

button{
    width: 200px;
    height: 50px;
}
.btn-atras,
.inicio-pausa,
.btn-delante{
    background-color: transparent;
}

.moneda{
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    color: black;
    border: none;
}

.moneda:hover{
    background-color: rgb(132, 0, 255);
    font-size: 30px;
    transition: ease-out 1s;
}